html, body {
  background: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20vh;
  background: white;
}

img {
  width: 60%;
  max-width: 300px;
}
